### Librairie

In [73]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio

### EXPLORATION DATASET

In [74]:
df = pd.read_csv("src/Speed_Dating_Data.csv", encoding="latin1")

df.head(10)

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
5,1,1.0,0,1,1,1,10,7,NaN,6,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
6,1,1.0,0,1,1,1,10,7,NaN,1,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
7,1,1.0,0,1,1,1,10,7,NaN,2,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
8,1,1.0,0,1,1,1,10,7,NaN,8,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
9,1,1.0,0,1,1,1,10,7,NaN,9,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [75]:
df.describe(include="all").transpose

<bound method DataFrame.transpose of                 iid           id       gender          idg       condtn  \
count   8378.000000  8377.000000  8378.000000  8378.000000  8378.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean     283.675937     8.960248     0.500597    17.327166     1.828837
std      158.583367     5.491329     0.500029    10.940735     0.376673
min        1.000000     1.000000     0.000000     1.000000     1.000000
25%      154.000000     4.000000     0.000000     8.000000     2.000000
50%      281.000000     8.000000     1.000000    16.000000     2.000000
75%      407.000000    13.000000     1.000000    26.000000     2.000000
max      552.000000    22.000000     1.000000    44.000000     2.000000

               wave        round     position     positin1        order  ...  \
count   8378.000000  8378.000000  8378.000000  6532.000000  8378.000000  ...
unique          NaN          NaN          NaN          NaN          NaN  ...
top             NaN          NaN          NaN          NaN          NaN  ...
freq            NaN          NaN          NaN          NaN          NaN  ...
mean      11.350919    16.872046     9.042731     9.295775     8.927668  ...
std        5.995903     4.358458     5.514939     5.650199     5.477009  ...
min        1.000000     5.000000     1.000000     1.000000     1.000000  ...
25%        7.000000    14.000000     4.000000     4.000000     4.000000  ...
50%       11.000000    18.000000     8.000000     9.000000     8.000000  ...
75%       15.000000    20.000000    13.000000    14.000000    13.000000  ...
max       21.000000    22.000000    22.000000    22.000000    22.000000  ...

            attr3_3      sinc3_3     intel3_3       fun3_3       amb3_3  \
count   3974.000000  3974.000000  3974.000000  3974.000000  3974.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       7.240312     8.093357     8.388777     7.658782     7.391545
std        1.576596     1.610309     1.459094     1.744670     1.961417
min        2.000000     2.000000     3.000000     2.000000     1.000000
25%        7.000000     7.000000     8.000000     7.000000     6.000000
50%        7.000000     8.000000     8.000000     8.000000     8.000000
75%        8.000000     9.000000     9.000000     9.000000     9.000000
max       12.000000    12.000000    12.000000    12.000000    12.000000

            attr5_3      sinc5_3     intel5_3       fun5_3       amb5_3
count   2016.000000  2016.000000  2016.000000  2016.000000  2016.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       6.810020     7.615079     7.932540     7.155258     7.048611
std        1.507341     1.504551     1.340868     1.672787     1.717988
min        2.000000     2.000000     4.000000     1.000000     1.000000
25%        6.000000     7.000000     7.000000     6.000000     6.000000
50%        7.000000     8.000000     8.000000     7.000000     7.000000
75%        8.000000     9.000000     9.000000     8.000000     8.000000
max       10.000000    10.000000    10.000000    10.000000    10.000000

[11 rows x 195 columns]>

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 195 entries, iid to amb5_3
dtypes: float64(174), int64(13), object(8)
memory usage: 12.5+ MB

In [77]:
df.shape

(8378, 195)

In [78]:
df.columns.values

array(['iid', 'id', 'gender', 'idg', 'condtn', 'wave', 'round',
       'position', 'positin1', 'order', 'partner', 'pid', 'match',
       'int_corr', 'samerace', 'age_o', 'race_o', 'pf_o_att', 'pf_o_sin',
       'pf_o_int', 'pf_o_fun', 'pf_o_amb', 'pf_o_sha', 'dec_o', 'attr_o',
       'sinc_o', 'intel_o', 'fun_o', 'amb_o', 'shar_o', 'like_o',
       'prob_o', 'met_o', 'age', 'field', 'field_cd', 'undergra',
       'mn_sat', 'tuition', 'race', 'imprace', 'imprelig', 'from',
       'zipcode', 'income', 'goal', 'date', 'go_out', 'career',
       'career_c', 'sports', 'tvsports', 'exercise', 'dining', 'museums',
       'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater',
       'movies', 'concerts', 'music', 'shopping', 'yoga', 'exphappy',
       'expnum', 'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1',
       'shar1_1', 'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1',
       'shar4_1', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1',
       'shar2_1', 'attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1',
       'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1', 'dec',
       'attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'like', 'prob',
       'met', 'match_es', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s',
       'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s',
       'amb3_s', 'satis_2', 'length', 'numdat_2', 'attr7_2', 'sinc7_2',
       'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2', 'attr1_2', 'sinc1_2',
       'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2', 'attr4_2', 'sinc4_2',
       'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2', 'attr2_2', 'sinc2_2',
       'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2', 'attr3_2', 'sinc3_2',
       'intel3_2', 'fun3_2', 'amb3_2', 'attr5_2', 'sinc5_2', 'intel5_2',
       'fun5_2', 'amb5_2', 'you_call', 'them_cal', 'date_3', 'numdat_3',
       'num_in_3', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3',
       'shar1_3', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3', 'amb7_3',
       'shar7_3', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3', 'amb4_3',
       'shar4_3', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3', 'amb2_3',
       'shar2_3', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3',
       'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3'], dtype=object)

In [79]:
df.dtypes

iid           int64
id          float64
gender        int64
idg           int64
condtn        int64
             ...
attr5_3     float64
sinc5_3     float64
intel5_3    float64
fun5_3      float64
amb5_3      float64
Length: 195, dtype: object

### VISUALISATION DU DATASET

In [80]:
df["undergra"].value_counts

<bound method IndexOpsMixin.value_counts of 0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
                     ...
8373    Ecole Normale SupÂŽrieure, Paris
8374    Ecole Normale SupÂŽrieure, Paris
8375    Ecole Normale SupÂŽrieure, Paris
8376    Ecole Normale SupÂŽrieure, Paris
8377    Ecole Normale SupÂŽrieure, Paris
Name: undergra, Length: 8378, dtype: object>

### CLEAN DATASET

In [83]:
df_men = df[["gender"]]

In [84]:
df_men["gender"].unique()

array([0, 1])

In [ ]:
df_women = df[df["gender"] == 0]

In [ ]:
df_women["gender"].unique()

array([0])

In [ ]:
df['wave_split'] = df['wave'] .apply(
    lambda x : "A" if (x > 6 and x < 10)
    else "B" )
                    

df

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3,wave_split
0,1,1.0,0,1,1,1,10,7,NaN,4,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,B
1,1,1.0,0,1,1,1,10,7,NaN,3,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,B
2,1,1.0,0,1,1,1,10,7,NaN,10,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,B
3,1,1.0,0,1,1,1,10,7,NaN,5,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,B
4,1,1.0,0,1,1,1,10,7,NaN,7,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,B
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,B
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,B
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,B
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,B